{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock title %}
      {% if request.path == '/' %}

      {% else %}
        |
      {% endif %}
      Livingstone Luxury
    </title>

    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords" content="Livingstone Luxury, {% block keywords %}{% endblock keywords %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    {% comment %} <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> {% endcomment %}


    <link rel="stylesheet" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/colorbox/colorbox.css' %}" />
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/main_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}" />

    {% block meta_tags %}

    {% endblock meta_tags %}







    {% block head %}
    {% endblock head %}

    {% block page_css %}
    {% endblock page_css %}

 <style>


</style>

</head>




<body >

    <div class="super_container">
      <div class="top_header_bar">
        <div class="top_bar_container">
          <span class="top_bar_left">Free Standard Delivery <a href="#">Details</a></span>
          <div class="top_bar_right">
              <span><i class="fas fa-globe"></i> IN English</span>
              <span><i class="fas fa-map-marker-alt"></i> Find a store</span>
          </div>
        </div>
      </div>

      <!-- Header -->


      <!-- SEGMENT HOVER PAGE -->
      <header class="header">
        <div
          class="header_inner d-flex flex-row align-items-center justify-content-start">
          <div class="logo">
            <a href="{% url 'index' %} "> LIVINGSTONE LUXURY</a>
          </div>
          <!-- <div class="logo">
            <a href="#"><img src="images/logo2.png" alt="Wish Logo" /></a>
          </div> -->
          <nav class="main_nav">
            <ul>
              
              <li><a href="{% url 'men' %}">MEN</a></li>
              <li><a href="{% url 'women' %}">WOMEN</a></li>
              <li><a href="{% url 'kashnaar' %}">KASHNAAR</a></li>
              <li><a href="{% url 'accessories' %}">ACCESSORIES</a></li>
              <li><a href="{% url 'index' %}">HOME</a></li>
              {% comment %} <li><a href="{% url 'contact' %}">CONTACT</a></li> {% endcomment %}

            </ul>
          </nav>

          
          <div class="header_content ml-auto">
            <div class="search header_search">
              <form action="#">
                <input type="search" class="search_input" required="required" />
                <button type="submit" id="search_button" class="search_button">
                  <img src="{% static 'images/magnifying-glass.svg' %}" alt="" />
                </button>
              </form>
            </div>
            
            <div class="shopping">
              <a href="{% url 'cart' %}">
                <div class="cart">
                  <img src="{% static 'images/shopping-bag.svg' %}" alt="" />
                  <div class="cart_num_container">
                    <div class="cart_num_inner">
                      <div class="cart_num" id="cartItemCount">0</div> 
                    </div>
                  </div>
                </div>
              </a>
              <a href="{% url 'wishlist' %}">
                <div class="star">
                  <img src="{% static 'images/heart-thin-icon.svg' %}" alt="" />
                  <div class="star_num_container">
                    <div class="star_num_inner">
                      <div class="star_num" id="wishlistCount">0</div>
                    </div>
                  </div>
                </div>
              </a>
              {% comment %} <div class="avatar-dropdown-wrapper">
                <a href="#">
                  <div class="avatar">
                    <img src="{% static 'images/avatar.svg' %}" alt="Avatar" />
                  </div>
                </a>
                <div class="dropdown-login">
                  <form class="login-form">
                    <h3>Sign In</h3>
                    <a class="create-account" href="#">CREATE ACCOUNT</a>

                    <input type="email" placeholder="EMAIL ADDRESS *" required />
                    <input type="password" placeholder="PASSWORD *" required />

                    <a href="#" class="forgot-password">Forgot Password?</a>
                    <label class="remember-label">
                      <input type="checkbox" />
                    Remember me - I want Livingstone Luxury to personalise my shopping experience
                    </label>

                   <button type="submit" class="sign-in-btn">SIGN IN</button>
                    <div class="divider">or</div>
                  </form>
                </div>
              </div>  {% endcomment %}

            </div>
          </div>
          <div
            class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </header>
      <!-- SEGMENT HOVER PAGE  END-->





      <!-- side menu  -->
      <div class="menu menu_mm">
        <div class="menu_header">
          <img src="{% static 'images/logo2.png' %}" alt="" />
          <div class="menu_icons">
            <img src="{% static 'images/magnifying-glass.svg' %}" alt="" />  
            <img src="{% static 'images/shopping-bag.svg' %}" alt="" />
            <img src="{% static 'images/close_img.png' %}" alt="" />
          </div>
        </div>
        <nav class="menu_nav">
          <ul>
            {% if user.is_authenticated %}
               <li>
                 <a href="#"><i class="fa fa-user"></i> {{ user.first_name }}</a>
                 
               </li>
               <li>
                 <a href="{% url 'account' %}"><i class="fa fa-user-circle"></i> My Account</a>
                 <span class="menu_arrow">›</span>

               </li>
               <li>
                 <a href="#"><i class="fa fa-exchange-alt"></i> Orders & Returns</a>
               </li>
               <li>
                   <a href="{% url 'track_order' %}">
                     <i class="fa fa-truck"></i> Track Order
                   </a>
                 </li>                               
               <li>
                 <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a>
               </li>
               {% else %}
               <li>
                 <a href="{% url 'sign_in' %}"><i class="fa fa-user"></i> Sign In / Register</a>
                 <span class="menu_arrow">›</span>
               </li>
             {% endif %}
            <li>
              <a href="{% url 'men' %}">Men</a>
              <span class="menu_arrow">›</span>
            </li>
            <li>
              <a href="{% url 'women' %}">Women</a>
              <span class="menu_arrow">›</span>
            </li>
            <li>
              <a href="{% url 'kashnaar' %}">Kashnaar</a>
              <span class="menu_arrow">›</span>
            </li>
            <li>
              <a href="{% url 'accessories' %}">Accessories</a>
              <span class="menu_arrow">›</span>
            </li>
            <li>
              <a href="{% url 'index' %}">Home</a>
              <span class="menu_arrow">›</span>
            </li>
          </ul>          
        </nav>
        <div class="menu_footer">
          <ul>
            <li><i class="icon-map-marker"></i> Stores</li>
            <li><i class="icon-globe"></i> In English</li>
          </ul>
        </div>
      </div>
<!-- side menu with hamburger END -->
    







    <script>
    
   </script>


    {% block content %}

    {% endblock content %}
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-column">
            <h4>ABOUT</h4>
            <ul>
              <li>About Us</li>
              <li>Careers</li>
              <li>World of RL</li>
              <li>Protecting Our Brands</li>
              <li>Privacy</li>
              <li>Terms Of Use</li>
              <li>Terms Of Sale</li>
              <li>Imprint</li>
              <li>Cookies</li>
              <li>Manage Cookie Settings</li>
              <li>Accessibility Statement</li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>ACCOUNT</h4>
            <ul>
              <li>My Account</li>
              <li>Check Order</li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>CUSTOMER SERVICE</h4>
            <ul>
              <li>Help</li>
              <li>Shipping</li>
              <li>Free Online Returns</li>
              <li>Operating Guidelines</li>
              <li>Sitemap</li>
            </ul>
          </div>

          <div class="footer-column newsletter">
            <h3>
                SIGN UP TO RECEIVE THE LATEST NEWS, SPECIAL OFFERS AND/OR
                EXCLUSIVE EVENTS RELATING TO LIVINGSTONE LUXURY PRODUCTS AND SERVICES,
                BY E-MAIL OR TARGETED SOCIAL MEDIA ADS. BY SIGNING UP, YOU
                CONSENT TO THE USE OF TRACKING TECHNOLOGIES FOR PERSONALISATION
                AND ANALYTICS.
            </h3>
            <div class="newsletter-form">
              <input type="email" placeholder="ENTER EMAIL ADDRESS" />
              <button>SUBMIT</button>
            </div>
            <p class="unsubscribe-text">
              You may unsubscribe at any time by clicking on the unsubscribe
              link in each e-mail. For more information, please read Ralph
              Lauren Europe Sàrl’s <a href="#">Privacy Policy</a>.
            </p>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="footer_logo"><a href="#">LIVINGSTONE LUXURY</a></div>
          <div class="social-icons">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"
              ><i class="fa fa-reddit-alien" aria-hidden="true"></i
            ></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <p>© COPYRIGHT 2025 LIVINGSTONE LUXURY MEDIA LLC</p>
        </div >
    </footer>


    {% block page_js %}

    {% endblock page_js %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>